language: php

php:
    - 7.2

cache:
    directories:
        - vendor

before_install:
    - source .test.env

    - phpenv config-rm xdebug.ini || true

install:
    - composer install --prefer-dist

script:
    - composer validate --strict
    - composer analyse
    - vendor/bin/phpspec run -fpretty --ansi
    - vendor/bin/behat --colors
